# Functions

## 1) append()

In [1]:
lst = [20,30,40,50]   # add single item in list (default it will add at last index)
lst.append("data")

In [2]:
lst

[20, 30, 40, 50, 'data']

In [3]:
lst.append(12.5)

In [4]:
lst

[20, 30, 40, 50, 'data', 12.5]

In [6]:
sqr = []

for i in range(1,11):
    sqr.append(i**2)

In [7]:
sqr

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
cube = []

for i in range(1,11):
    cube.append(i**3)
cube

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [9]:
even = []

for i in range(1,11):
    if i%2 == 0:
        even.append(i)
even

[2, 4, 6, 8, 10]

In [10]:
even = []
odd  = []

for i in range(1,11):
    if i%2 == 0: # True
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [11]:
lst        = [1,2.3,"Data",[2,3,4,5]]
lst_int    = []
lst_float  = []
lst_str    = []
lst_list   = []
for i in lst:
    if type(i)   ==    int :
        lst_int.append(i)
    elif type(i) ==  float :
        lst_float.append(i)
    elif type(i) ==  str:
        lst_str.append(i)
    else:
        lst_list.append(i)
print("int list    > ",lst_int)
print("float list  > ",lst_float)        
print("String list > ",lst_str) 
print("list        > ",lst_list)

int list    >  [1]
float list  >  [2.3]
String list >  ['Data']
list        >  [[2, 3, 4, 5]]

## 2) Extend()

In [12]:
# Join two list
lst1 = [2,3,4,5]
lst2 = [22,44]
lst_new = lst1 +lst2
lst_new

[2, 3, 4, 5, 22, 44]

In [13]:
lst1 = [2,3,4,5]
lst2 = [22,44]
lst_new = lst2 +lst1
lst_new

[22, 44, 2, 3, 4, 5]

In [14]:
lst1 = [2,3,4,5]
lst2 = [22,44]
lst1.extend(lst2)
print(lst1)
print(lst2)

[2, 3, 4, 5, 22, 44]
[22, 44]

In [15]:
lst1 = [2,3,4,5]
lst2 = [22,44]
lst2.extend(lst1)
print(lst1)
print(lst2)

[2, 3, 4, 5]
[22, 44, 2, 3, 4, 5]

## 3)insert

In [16]:
even = [2,4,6,8]
even.insert(1,"Data")
even

[2, 'Data', 4, 6, 8]

In [17]:
even = [2,4,6,8]
even.insert(-1,"Data")
even

[2, 4, 6, 'Data', 8]

In [18]:
even = [2,4,6,8]
even.insert(3,"Data")
even

[2, 4, 6, 'Data', 8]

## Delete items from list

In [ ]:
1.remove
2.pop
3.clear
4.del

## 4.remove

In [19]:
lst = [2,3,4,5,6,7]
lst.remove(4)
lst

[2, 3, 5, 6, 7]

In [21]:
city = ["Pune","mumbai","delhi","Goa","channai","Dinesh"]
for i in city:
    if i.startswith("d") or i.startswith("D"):
        city.remove(i)
city

['Pune', 'mumbai', 'Goa', 'channai']

In [20]:
city = ["Pune","mumbai","delhi","Goa","channai","Dinesh"]
for i in city:
    if i.upper().startswith("D"):
        city.remove(i)
city

['Pune', 'mumbai', 'Goa', 'channai']

## 5.Pop()

In [ ]:
# by default it will remove last index item (-1)

In [22]:
city = ["Pune","mumbai","delhi","Goa","channai","Dinesh"]
city.pop()

'Dinesh'

In [23]:
city

['Pune', 'mumbai', 'delhi', 'Goa', 'channai']

## 6) clear

In [ ]:
# it will remove all items in list

In [24]:
city = ["Pune","mumbai","delhi","Goa","channai","Dinesh"]
city.clear()

In [25]:
city

[]

### 7) del

In [26]:
city = ["Pune","mumbai","delhi","Goa","channai","Dinesh"]
del city

In [27]:
city

NameError: name 'city' is not defined

In [28]:
city = ["Pune","mumbai","delhi","Goa","channai","Dinesh"]
del city[1:4]

In [29]:
city

['Pune', 'channai', 'Dinesh']

## 8) sort()

ascending order > 1,2,3,4,5
Descending      > 10,9,8,7,6,5,4,3,2,1
Default >> sort(reverse = False)  > Ascending
sort(reverse = True) >> Descending order

In [31]:
num = [100,1,2,3,5,44,66,7,88]
num.sort() # Ascending order
num

[1, 2, 3, 5, 7, 44, 66, 88, 100]

In [ ]:
[1,2,3,4,5]

In [32]:
num = [100,1,2,3,5,44,66,7,88]
num.sort(reverse=False) # Ascending order
num

[1, 2, 3, 5, 7, 44, 66, 88, 100]

In [33]:
num = [100,1,2,3,5,44,66,7,88]
num.sort(reverse=True) # Dscending order
num

[100, 88, 66, 44, 7, 5, 3, 2, 1]

In [36]:
city  = ['Pune', 'Channai', 'Dinesh']
city.sort()
city

['Channai', 'Dinesh', 'Pune']

In [37]:
city  = ['Pune', 'Channai', 'Dinesh']
city.sort(reverse=True)
city

['Pune', 'Dinesh', 'Channai']

In [39]:
len(dir(__builtins__)) # 156

156

## 9) Sorted()

In [40]:
city  = ['Pune', 'Channai', 'Dinesh']
sorted(city)

['Channai', 'Dinesh', 'Pune']

In [41]:
city

['Pune', 'Channai', 'Dinesh']

In [43]:
city  = ['Pune', 'Channai', 'Dinesh']
city1 = sorted(city)
print("Before sorted", city)
print("After sorted",city1)

Before sorted ['Pune', 'Channai', 'Dinesh']
After sorted ['Channai', 'Dinesh', 'Pune']

## 10) Reverse()

In [45]:
num = [100, 88, 66, 44, 7, 5, 3, 2, 1]
num[::-1]

[1, 2, 3, 5, 7, 44, 66, 88, 100]

In [46]:
num = [100, 88, 66, 44, 7, 5, 3, 2, 1]
num.reverse()

In [47]:
num

[1, 2, 3, 5, 7, 44, 66, 88, 100]

## 11) Reversed

In [49]:
num = [100, 88, 66, 44, 7, 5, 3, 2, 1]
list(reversed(num))

[1, 2, 3, 5, 7, 44, 66, 88, 100]

In [50]:
num

[100, 88, 66, 44, 7, 5, 3, 2, 1]

In [53]:
num = [100, 88, 66, 44, 7, 5, 3, 2, 1]
num1 = list(reversed(num))
print("Before ", num)
print("After ", num1)

Before  [100, 88, 66, 44, 7, 5, 3, 2, 1]
After  [1, 2, 3, 5, 7, 44, 66, 88, 100]

In [52]:
num1

[1, 2, 3, 5, 7, 44, 66, 88, 100]

## 12) index()

In [54]:
str1 = "Python"
str1.index("o")

4

In [55]:
str1 = list("Python")
print(str1)
str1.index("o")

['P', 'y', 't', 'h', 'o', 'n']

4

In [56]:
lst = [1,2,3,4]
lst.index(2)

1

In [57]:
lst = [1,2,3,4]
lst.find(2)

AttributeError: 'list' object has no attribute 'find'

## 13) count

In [59]:
num = [1, 88, 66, 44, 7, 5, 3, 2, 1]
num.count(1)

2

## 14)copy()

In [60]:
lst1 = [1,2,3,4,5]
lst2 = lst1
print(lst1)
print(lst2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [63]:
lst1 = [1,2,3,4,5]
lst2 = lst1
lst1[1] = "Data"
print(lst1)
print(lst2)

[1, 'Data', 3, 4, 5]
[1, 'Data', 3, 4, 5]

In [64]:
lst1 = [1,2,3,4,5]  # [1, 'Data', 3, 4, 5]
lst2 = lst1.copy()    # [1, 3, 4, 5]
lst1[1] = "Data"
print(lst1)
print(lst2)

[1, 'Data', 3, 4, 5]
[1, 2, 3, 4, 5]

In [65]:
lst1 = [1,2,3,4,5]  # [1, 'Data', 3, 4, 5]
lst2 = lst1.copy()    # [1, 3, 4, 5]
lst2[1] = "Data"
print(lst1)
print(lst2)

[1, 2, 3, 4, 5]
[1, 'Data', 3, 4, 5]

## 15)

In [69]:
import copy
lst1 = [1,[2,3],4,5]  
lst2 = lst1.copy()
lst1[1][1] = "Data"
print(lst1)
print(lst2)

[1, [2, 'Data'], 4, 5]
[1, [2, 'Data'], 4, 5]

In [70]:
import copy
lst1 = [1,[2,3],4,5]  
lst2 = copy.deepcopy(lst1)
lst1[1][1] = "Data"
print(lst1)
print(lst2)

[1, [2, 'Data'], 4, 5]
[1, [2, 3], 4, 5]

In [71]:
import copy
lst1 = [1,[2,3],4,5]  
lst2 = copy.deepcopy(lst1)
lst2[1][1] = "Data"
print(lst1)
print(lst2)

[1, [2, 3], 4, 5]
[1, [2, 'Data'], 4, 5]

In [ ]:
lst = ["Eng","Math","Sci","Hist","Hindi"]
Eng_Math_Sci_Hist_Hindi

In [77]:
lst = ["Ganesh","Mayur","Virat","Dhanush","Sachin","23","23.4"]
# lst [ "Ganehs","Dhanush"]

In [78]:
lst1 = [i for i in lst if i.endswith("sh")]
lst1

['Ganesh', 'Dhanush']

## List comprehesion

In [79]:
lst = ["Ganesh","Mayur","Virat","Dhanush","Sachin","23","23.4"]
# lst = [expression for i in list if condition]

In [80]:
lst1 = [i.lower() for i in lst]
lst1

['ganesh', 'mayur', 'virat', 'dhanush', 'sachin', '23', '23.4']

In [81]:
lst1 = [i.upper() for i in lst if i.endswith("sh")]
lst1

['GANESH', 'DHANUSH']

In [83]:
sqr = [i**2 for i in range(1,11)]
sqr

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [84]:
even = [i for i in range(1,11) if i%2 == 0]
even

[2, 4, 6, 8, 10]

In [85]:
odd = [i for i in range(1,11) if i%2 != 0]
odd

[1, 3, 5, 7, 9]

In [86]:
odd = len([i for i in range(1,11) if i%2 != 0])
odd

5